# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2

# Matches multiple files with brace expansion notation
# Set default charset
[*.{c,h,cc,cpp,cxx,hpp,hxx,inl,c.in,h.in}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
max_line_length = 120

# Objective-C files
[*.{m,mm}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
max_line_length = 120

# Shell scripts
[*.{sh,bash,zsh}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
max_line_length = 120

# Python scripts
[*.py]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
max_line_length = 120

# PowerShell scripts
[*.{ps1,psm1,psd1}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
max_line_length = 120

# Makefile
[{Makefile,makefile,GNUmakefile,*.mk}]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true

# Documentation
[*.{md,txt}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
max_line_length = 120

# Doxygen documentation
[*.{dox,doxygen,doxy}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
max_line_length = 120

[Doxyfile*]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# Configuration files
[*.{json,yml,yaml,toml,ini,cfg,conf}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# Git
[.gitignore]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# Assembly files
[*.{s,S,asm}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

# CMake files
[{CMakeLists.txt,*.cmake}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
max_line_length = 120

# XML layouts
[*.{xml,xml.in}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
max_line_length = 120

# Header guards and preprocessor
[*.{h,hpp}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

