# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2

# Matches multiple files with brace expansion notation
# Set default charset
[*.{c,h,cpp,hpp,cc,cxx}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
max_line_length = 120

# Objective-C files
[*.{m,mm}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
max_line_length = 120

# Shell scripts
[*.{sh,bash}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
max_line_length = 120

# Makefile
[{Makefile,makefile,GNUmakefile,*.mk}]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true

# Documentation
[*.{md,txt}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
max_line_length = 120

# Configuration files
[*.{json,yml,yaml}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# Git
[.gitignore]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# Assembly files
[*.{s,S,asm}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

# Header guards and preprocessor
[*.{h,hpp}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

