source .env

repo_root="$(git rev-parse --show-toplevel)"

export FPATH="$repo_root/build/share/zsh/site-functions:$FPATH"
export MANPATH="$repo_root/build/share/man:$MANPATH"

export ASAN_OPTIONS="suppressions=$repo_root/.asan-suppressions:verbosity=0:halt_on_error=1"
export UBSAN_OPTIONS="suppressions=$repo_root/.ubsan-suppressions"
export LSAN_OPTIONS="suppressions=$repo_root/.lsan-suppressions"

export PKG_CONFIG_PATH="$PKG_CONFIG_PATH:$repo_root/build/lib/pkgconfig:$repo_root/build/share/pkgconfig"
export PKG_CONFIG_PATH="$PKG_CONFIG_PATH:/usr/local/lib/pkgconfig:/usr/local/share/pkgconfig"
export PKG_CONFIG_PATH="$PKG_CONFIG_PATH:/opt/homebrew/lib/pkgconfig:/opt/homebrew/share/pkgconfig"
export PKG_CONFIG_PATH="$PKG_CONFIG_PATH:/home/linuxbrew/.linuxbrew/lib/pkgconfig:/home/linuxbrew/.linuxbrew/share/pkgconfig"

layout uv
