source .env

repo_root="$(git rev-parse --show-toplevel)"

export FPATH="$PWD/build/share/zsh/site-functions:$FPATH"
export MANPATH="$PWD/build/share/man:$MANPATH"

export ASAN_OPTIONS="suppressions=$repo_root/.asan-suppressions:verbosity=0:h alt_on_error=0"
export UBSAN_OPTIONS="suppressions=$repo_root/.ubsan_suppressions"

layout uv
