#!/usr/bin/env zsh

if [[ `uname -s 2>/dev/null` == Darwin ]]; then
    #export PATH="/usr/local/opt/findutils/libexec/gnubin:$PATH"
    #export PATH="/usr/local/opt/opencv@2/bin:$PATH"

    #export LDFLAGS="-L/usr/local/opt/opencv@2/lib"
    #export CPPFLAGS="-I/usr/local/opt/opencv@2/include"

    export PKG_CONFIG_PATH="/usr/local/lib/pkgconfig:/usr/local/opt/opencv@2/lib/pkgconfig"
fi
