/bin/*
/build/*
/.claude/settings.local.json

compile_commands.json
.env
*.log
*.txt
*.old
.cache
*.o
junit.xml
*.gcov
*.gcda
*.gcno
coverage.info
coverage_html/

/build/
/build_*/

/tests/fixtures/*

/nul

/logs/
