[submodule "deps/bearssl"]
	path = deps/bearssl
	url = https://www.bearssl.org/git/BearSSL
[submodule "deps/tomlc17"]
	path = deps/tomlc17
	url = https://github.com/cktan/tomlc17
	# NOTE: deps/tomlc17-fix-align8-overflow.patch is automatically applied during CMake configuration
	# to fix integer overflow and sanitizer warnings in the align8() function
[submodule "deps/libsodium-bcrypt-pbkdf"]
	path = deps/libsodium-bcrypt-pbkdf
	url = https://github.com/imaami/libsodium-bcrypt-pbkdf.git
[submodule "deps/uthash"]
	path = deps/uthash
	url = https://github.com/troydhanson/uthash.git
