export SSH_PUBLIC_KEY="ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJo2hpLUf9FgG8JsZ5fuldWWPz1QHRzONsDmlkvtGSBN test@example.com"

export GPG_PUBLIC_KEY="-----BEGIN PGP PUBLIC KEY BLOCK-----

mDMEaW1PPhYJKwYBBAHaRw8BAQdAMG6SKi0n9QeQ3WqODocF4Z/wcXoxwmtKEnQt
3R1ah8m0I1Rlc3QgSW50ZXJhY3RpdmUgPHRlc3RAZXhhbXBsZS5jb20+iJMEExYK
ADsWIQQbehivW22iFD00CqH3GYu4Ecf8zQUCaW1PPgIbAwULCQgHAgIiAgYVCgkI
CwIEFgIDAQIeBwIXgAAKCRD3GYu4Ecf8zZqXAP0UA09n3s4st3bL/rwzcy1M+BPZ
W1F5CSeII1JVaWcKqQEA9rLBxVsJ6taECbLGcoEHyQBpKPL7viL5fCn+Ml/W3w2Y
MwRpbUR/FgkrBgEEAdpHDwEBB0AyaI1f+GdoZ11PYbOs9nqp894Fe+VEtp2W/MKf
fvUuSbQiQVNDSUktQ2hhdCBUZXN0IDx0ZXN0QGV4YW1wbGUuY29tPoiTBBMWCgA7
FiEEG+xSMqzPsFRgySIgXqE0RBuFCIQFAmltRH8CGwMFCwkIBwICIgIGFQoJCAsC
BBYCAwECHgcCF4AACgkQXqE0RBuFCIRhzgD/VNoSmmJvveDcdrYZAXauWPkvJd6W
DzX13fYx7iEZIEYBAPoaauYRSqhX70dOQww5YkCvHnn58/kwM92TInitGBgCuDgE
aW1EfxIKKwYBBAGXVQEFAQEHQPkyeDfChuQuT9qoRKc2JAekeFfEr7yMYYTjmR5S
46sVAwEIB4h4BBgWCgAgFiEEG+xSMqzPsFRgySIgXqE0RBuFCIQFAmltRH8CGwwA
CgkQXqE0RBuFCITPLwEAj9R132/DE7Q7NetmPGbCC1lGQyFe++DGDv0LY1oeG3IB
ANn3iwNR+kguxYoaPNqDHeKdIBfCuRFeD9Dgm1l+StgCmDMEaW1MbhYJKwYBBAHa
Rw8BAQdAeSqBpfNfpcw9AmFlXnSRUApLKLw7WhNVgAVFon26eQq0KkFTQ0lJLUNo
YXQgR1BHIFRlc3QgPGdwZy10ZXN0QGV4YW1wbGUuY29tPoiTBBMWCgA7FiEEK2fy
qeqUYlIdGvykKlJW7HZVigcFAmltTG4CGwMFCwkIBwICIgIGFQoJCAsCBBYCAwEC
HgcCF4AACgkQKlJW7HZVigeHdgEA2elbbrXl3rHPc27omd29iGyh3ngeWh2WjKY4
LAhm0gsA/i8sih1T/+GOxvKX52mMPgWRgr7UWjxMb/2jTxLDdjACmDMEaW1OShYJ
KwYBBAHaRw8BAQdAuRnF40QBJUdLeDwfvxXNw3LEmAzpU45Oc7f7QMms3va0F1Rl
c3QgPHRlc3RAZXhhbXBsZS5jb20+iJMEExYKADsWIQQ9atSv2/tZknk0uDgG8z2R
0sT0nwUCaW1OSgIbAwULCQgHAgIiAgYVCgkICwIEFgIDAQIeBwIXgAAKCRAG8z2R
0sT0nwy7AQDYGRwqfIhhT6/wX8//8NzY5xz36a4Mxfyow37FQFQgvQD/ZMVJcIX8
EbuJYOXkXCo+29GLlJy4C6q5RnMYzZk73weYMwRpbU0cFgkrBgEEAdpHDwEBB0Df
kAXUPLhh2aPyY5QK3YDpulx99cF7tPqqDJ0lxGjrlrQqQVNDSUktQ2hhdCBHUEcg
VGVzdCA8Z3BnLXRlc3RAZXhhbXBsZS5jb20+iJMEExYKADsWIQRP7I7GFNYqE0lu
YBLMbGnF48jHSgUCaW1NHAIbAwULCQgHAgIiAgYVCgkICwIEFgIDAQIeBwIXgAAK
CRDMbGnF48jHShAeAQDDTKTtbC+oIYrZAmNMDXkwVYOvCcTEEtFGRNwvu0O7jwD8
DcF+lzzhel5I7PQTzUb9Y3M34oIUbdYfBOYNgq7+CgmYMwRpbU5gFgkrBgEEAdpH
DwEBB0CmOwOB6p5o3XblmJye++XwHw/Oi8j0VXopjzKP3MUBZLQqQVNDSUktQ2hh
dCBHUEcgVGVzdCA8Z3BnLXRlc3RAZXhhbXBsZS5jb20+iJMEExYKADsWIQRU+lxI
4JsrfaI2gF7YAbX1cC/zLgUCaW1OYAIbAwULCQgHAgIiAgYVCgkICwIEFgIDAQIe
BwIXgAAKCRDYAbX1cC/zLgIsAQDhcKMi/mk+8JW9oR14/EdUM7BIv3jijlQaEG36
OkBUrgD/WC5mhkHI0iIJoQTraKygUOHWLQhmMaWTaeuF/7md9wuYMwRpbU4wFgkr
BgEEAdpHDwEBB0AlfJTsbIYqtJrYd7/B5VawdB8wuujrvgBvS34HD9Lem7Q2QVND
SUktQ2hhdCBFbmNyeXB0ZWQgVGVzdCA8ZW5jcnlwdGVkLXRlc3RAZXhhbXBsZS5j
b20+iJMEExYKADsWIQRW6B79Vzp6FsVyu+pxsM/czRGPKgUCaW1OMAIbAwULCQgH
AgIiAgYVCgkICwIEFgIDAQIeBwIXgAAKCRBxsM/czRGPKhZ+AQC1Yms3k6+69Wz9
nRveb2F0XhEqdTbepAuJ2ophXR0BLAEA7TO9yJi8KdiU/N1PLLZCJZrVgBMX0Wba
wKGtPcjmIgiYMwRpbUt2FgkrBgEEAdpHDwEBB0DQ/mL0cOiRNCB6DVtHaL7vPJBf
UrFioMv8DTVzNt/y7bQqQVNDSUktQ2hhdCBHUEcgVGVzdCA8Z3BnLXRlc3RAZXhh
bXBsZS5jb20+iJMEExYKADsWIQRodElZsm7HGJ5fbpjnWox6u0XrGgUCaW1LdgIb
AwULCQgHAgIiAgYVCgkICwIEFgIDAQIeBwIXgAAKCRDnWox6u0XrGr1LAP91JQx0
4W0djAKuuy6NxSCz+ww/XXCOMX2QeGF/ie7USQD/VGlI0MSA/i4tO/64g41qgyHD
EzT3Jh3fNhJLfgqUkQqYMwRpbU7pFgkrBgEEAdpHDwEBB0AbHZR1UmVhaRXJ6kGF
To/CHs9hTUaP/PHfDVTgzBHC27QqQVNDSUktQ2hhdCBHUEcgVGVzdCA8Z3BnLXRl
c3RAZXhhbXBsZS5jb20+iJMEExYKADsWIQRxn5bbtpPe754ek3qJrBJwtZ11pAUC
aW1O6QIbAwULCQgHAgIiAgYVCgkICwIEFgIDAQIeBwIXgAAKCRCJrBJwtZ11pP9a
AP9FDUENyqVN9bBz0NUootx+n3Lfp9Mb2qNAAM/o7ViLmAD/b4jmIRJ6NCWnsKU1
2sGeIB8KqzycfdrV1S4wY7ea/guYMwRpbUrdFgkrBgEEAdpHDwEBB0DhDI92CAOq
d/z4VSfaumsgCjm3VrUCsfBKdtEfAMk13rQqQVNDSUktQ2hhdCBHUEcgVGVzdCA8
Z3BnLXRlc3RAZXhhbXBsZS5jb20+iJMEExYKADsWIQSa1zwAsKVFS5p6X2GselwL
jXohygUCaW1K3QIbAwULCQgHAgIiAgYVCgkICwIEFgIDAQIeBwIXgAAKCRCselwL
jXohyjueAP9n5br4eHD2auoBXvGFrp7t1xT3vEQLdLgIqDAlZDd0SwEA9ptlDdc6
jOhbCcCekIp1eF1OghTMSy8rKs7QKZ/UbgSYMwRpusyuFgkrBgEEAdpHDwEBB0Bc
7dGhCoukjiDSdv56ODggBQbHyVA5xywzWFTyzkJFW7QbVGVzdCBLZXkgPHRlc3RA
ZXhhbXBsZS5jb20+iJAEExYKADgWIQSptBoXCfyhjFxIM7UbvB7dI7wT7gUCabrM
rgIbAwULCQgHAgYVCgkICwIEFgIDAQIeAQIXgAAKCRAbvB7dI7wT7j4mAP9vvG3R
z1cr/MM3ZpMbMkq0jsdbAlbX0ERFocckCFvGQAEA1ZQ9zynXJddHKIRNL1uzv2ou
CfPN4zARHStOtjjMOwaYMwRpbU92FgkrBgEEAdpHDwEBB0DlfLEohu/kFcDC7Phs
dd8hkQADrhT2jAHbbOdqOi8AfrQjVGVzdCBJbnRlcmFjdGl2ZSA8dGVzdEBleGFt
cGxlLmNvbT6IkwQTFgoAOxYhBLcOSwG0oNooGeb0DOcG49mQVNuiBQJpbU92AhsD
BQsJCAcCAiICBhUKCQgLAgQWAgMBAh4HAheAAAoJEOcG49mQVNuiRW0BAKK3Aszf
F58HkCff8aOtGRAOrwx29Vt5K3lQS1YtCoHEAP9wbAtMfINxv9jr15R4S+rXbb37
uinzODxFwAn+rz7zDZgzBGltTiQWCSsGAQQB2kcPAQEHQLh2czd+YZwUg2pLRLW+
pXiUReP4ALVOlbxNPKYAPhXKtDZBU0NJSS1DaGF0IEVuY3J5cHRlZCBUZXN0IDxl
bmNyeXB0ZWQtdGVzdEBleGFtcGxlLmNvbT6IkwQTFgoAOxYhBNhppLlfvUr2UJhE
wMtYsHkvzIBeBQJpbU4kAhsDBQsJCAcCAiICBhUKCQgLAgQWAgMBAh4HAheAAAoJ
EMtYsHkvzIBe9foBAMUkglgFsHfR4Owmch8a8Hi7m9fAFm4vMfGh3x7vPUx9AP0d
G4hIuFzt3/UCs6nbG6/CCIFFP3Q/7DKF6DOu4b2QB5gzBGltRBwWCSsGAQQB2kcP
AQEHQMnJh9tBjpWur2DLP9WtISCMl5dCdEya48H+1406intitCJBU0NJSS1DaGF0
IFRlc3QgPHRlc3RAZXhhbXBsZS5jb20+iJMEExYKADsWIQTZeOegcvPD154DTKEz
/EzbmSyT+AUCaW1EHAIbAwULCQgHAgIiAgYVCgkICwIEFgIDAQIeBwIXgAAKCRAz
/EzbmSyT+GsFAQCmVqFXmScQ8g4rv7GFPmZyYoS9NS2udm7v5H6NLfKtOAEAvR+O
PjpKyKrqNjzHtGIOR3dUO7AB9PlKs6cP7xcC3gG4OARpbUQcEgorBgEEAZdVAQUB
AQdAVwHOtEXNVoQRcebX0EKen6ufWFQXekXlXOzUSZqn90UDAQgHiHgEGBYKACAW
IQTZeOegcvPD154DTKEz/EzbmSyT+AUCaW1EHAIbDAAKCRAz/EzbmSyT+IjYAQCU
VSNEN5ZO5fJTiESmiD6E9MTS0THx/IxjqVwljLAWlQD7B/r6GatlCTdxTND+rIRg
2zevSz6aDWS56fXSBco+7AA=
=w91A
-----END PGP PUBLIC KEY BLOCK-----"
